/*///////////////////////////////////////
Select all///////////////////////////////
///////////////////////////////////////*/

*{
	border: solid 0px black;
	margin: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
}

/*///////////////////////////////////////
easteregg.html///////////////////////////
///////////////////////////////////////*/

#catyogaball{
	border: solid 20px rgb(123,180,85);
	outline: solid 20px rgb(211,147,50);
	display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    position: absolute;
    top: 37%;
    left: 25%;
    height: 400px;
    margin-bottom: 110px;
}

/*///////////////////////////////////////
Lightbox ////////////////////////////////
///////////////////////////////////////*/

#lightbox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 200px;
	margin-left: -250px;
	background: #F1F1F1;
	border-radius: 15px;
	z-index: 1001;
	display: none;
}

#lightbox-shadow {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #D3D3D3;
	/*background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
	opacity: 0.9;
	z-index: 1000;
	display: none;
}

/*///////////////////////////////////////
Link Styling ////////////////////////////
///////////////////////////////////////*/

.navOptions:link {
	color: #3D7CA6;
	text-decoration: none;
}

.navOptions:visited {
	color: #3D7CA6;
	text-decoration: none;
}

.navOptions:hover {
	color: #54ABE6;
	text-decoration: none;	
}

a:link{
	text-decoration: none;
}

.contentOptions:link {
	color: #54ABE6;
	text-decoration: none;
}

.contentOptions:visited {
	color: #54ABE6;
	text-decoration: none;
}

.contentOptions:hover {
	color: #FAFAFA;
	background-color: rgba(8,50,64, .4);
	text-decoration: none;	
}


/*///////////////////////////////////////
index.html///////////////////////////////
///////////////////////////////////////*/

html{
	height: 100%;
}

body{
	background-color: #FAFFFF;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#skimMilk{
	background-color: #254C66;
	height: 2px;
	width: 100%;
	padding-left: 5px;
	padding-top: 0px;
}

#cream{
	background-color: #3D7CA6;
	height:4px;
	width: 100%;
	padding-left: 5px;
}

#socialBar{
	background-color: #54ABE6;
	height: 40px;
	width: 100%;
	padding-left: 5px;
	padding-top: 15px;
	border-bottom: solid 2px #FFFFFF;
}

#signUp{
	position: absolute;
	right: 95px;
	top: 22px;
	border: solid 0px red;
	height: 20px;
	width: 60px;
	text-align: center;
	color: #FAFAFA;
}

.btn{
	position: absolute;
	background: #3D7CA6;
	border-radius: 5px;
	height: 20px;
	width: 60px;
	font-size: 12pt;
	padding-bottom: 25px;
	right: 20px;
	top: 20px;
	color: #FAFAFA;
	border: none;
}

#logoBar{
	border: solid 0px blue;
	height: 108px;
	width: 100%;
}

#logoContainer{
	border: solid 0px red;
	height: 110px;
	width: 120px;
	margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#logo{
	border: solid 0px red;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logoText{
	position: absolute;
	right: 41.5%;
	top: 70px;
	border: solid 0px red;
	height: 20px;
	width: 60px;
	font-size: 18pt;
	text-align: center;
	color: #54ABE6;
}

#navBar{
	height:50px;
	width:100%;
	background:rgba(61,124,166, .2);
	border-top:solid 2px #FFFFFF;
	border-bottom:solid 1px #FFFFFF;
	padding-top: 25px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	display: block;
}

nav ul{
	list-style: none;
}

nav ul li{
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 25%;
	float: left;
	font-weight: bold;
	font-size:16pt;
}

#curds{
	background-color: #3D7CA6;
	height: 8px;
	width: 100%;
	padding-left: 5px;
	border-bottom: solid 1px #FAFAFA;
}

#content{
	border: solid 0px red;
	height: 360px;
	width: 820px;
	margin: 0 auto;
}

.btn1{
	position: absolute;
	background: rgba(61, 124, 166, .8);
	border-radius: 5px;
	height: 40px;
	width: 120px;
	font-size: 12pt;
	padding-top: 10px;
	padding-bottom: 25px;
	left: 340px;
	top: 560px;
	color: #FAFAFA;
	border: none;
}

.btn1:hover{
	background: #083240;
	cursor: hand;
}

#options{
	height: 80px;
	width: 826px;
	border: solid 0px black;
	padding: 0px;
	color: #FAFAFA;
	margin: 0 auto;
}

.contentOptions{
	background-color: rgba(61,124,166, .2);
	border: solid 2px #FAFAFA;
	border-radius: 5px;
	position: relative;
	float: left;
	height: 50px;
	width: 32.8%;
	text-align: center;
	vertical-align: middle;
	padding-top: 25px;
	font-size: 16pt;
	font-weight: bold;
	display: block;
}

nav ul li .contentOptions{
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	float: left;
	font-weight: bold;
	font-size:16pt;
}

/*///////////////////////////////////////
Bottom bits and bobs/////////////////////
///////////////////////////////////////*/

#skimButter{
	background-color: #254CFF;
	height: 2px;
	width: 100%;
	padding-left: 5px;
	padding-top: 0px;
	bottom: 36px;
	position: fixed;
	z-index: +100;
}

#butter{
	background-color: #54ABE6;
	position: fixed;
	bottom: 0px;
	height: 16px;
	width: 100%;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
	color: #FAFAFA;
	z-index: +100;
}

#butter1{
	color: #FAFAFA;
	position: fixed;
	left: 5px;
	bottom: 2px;
	padding-left: 6px;
	padding-bottom: 4px;
	z-index: +100;
}


#butter2{
	color: #FAFAFA;
	position: absolute;
	right: 20px;
	bottom: 2px;
	padding-bottom: 4px;
	z-index: +100;
}

#butter3{
	color: #FAFAFA;
	position: absolute;
	right: 78px;
	bottom: 2px;
	padding-bottom: 4px;
	z-index: +100;
}

/*///////////////////////////////////////
classes.html/////////////////////////////
///////////////////////////////////////*/

#choiceBoxes{
	border: solid 0px black;
	height: 20px;
	width: 825px;
	margin: 0 auto;
}

.Boxes{
	border: solid 2px #FAFAFA;
	border-radius: 15px;
	height: 20px;
	width: 24.5%;
	position: relative;
	float: left;
	display: block;
}


.Box1{
	background: #1997BF;
}

.Box2{
	background: #10657F;
}

.Box3{
	background: #21CAFF;
}

.Box4{
	background: #083240;
}


#optionsClasses{
	height: 82px;
	width: 825px;
	border: solid 0px black;
	padding: 0px;
	color: #FAFAFA;
	position: relative;
	margin: 0 auto;
}

.contentOptionsClasses{
	background-color: rgba(61,124,166, .2);
	border: solid 2px #FAFAFA;
	border-radius: 15px;
	position: relative;
	height: 50px;
	width: 24.5%;
	text-align: center;
	vertical-align: middle;
	padding-top: 25px;
	font-size: 16pt;
	font-weight: bold;
	display: block;
}

.Class1{
	position: relative;
	top: 0px;
	left: 0px;

}

.Class2{
	position: absolute;
	left: 206px;
	top: 0px;
}

.Class3{
	position: absolute;
	left: 412px;
	top: 0px;
}

.Class4{
	position: absolute;
	left: 618px;
	top: 0px;
}

/*classes.html*/
.contentOptionsClasses:link {
	color: #54ABE6;
	text-decoration: none;
}

.contentOptionsClasses:visited {
	color: #54ABE6;
	text-decoration: none;
}

.contentOptionsClasses:hover {
	color: #FAFAFA;
	background-color: rgba(8,50,64, .4);
	text-decoration: none;	
}

.Boxes:hover{
	background-color: #FAFAFA;
}

/*getstarted.html*/
.classOptions:link {
	color: #54ABE6;
	text-decoration: none;
}

.classOptions:visited {
	color: #54ABE6;
	text-decoration: none;
}

.classOptions:hover {
	color: #FAFAFA;
	background-color: rgba(8,50,64, .4);
	text-decoration: none;	
}

.Choices:hover{
	background-color: #FAFAFA;
}

/*///////////////////////////////////////
getstarted.html//////////////////////////
///////////////////////////////////////*/

#getStarted{
	border: solid 0px black;
	height: 300px;
	width: 825px;
	margin: 0 auto;
}

.Choices{
	border: solid 2px #FAFAFA;
	height: 358px;
	width: 32.8%;
	position: relative;
	float: left;
	display: block;
}


.Choice1{
	background: #1997BF;
}

.Choice2{
	background: #10657F;
}

.Choice3{
	background: #21CAFF;
}

#startClasses{
	height: 80px;
	width: 825px;
	border: solid 0px black;
	padding: 0px;
	color: #FAFAFA;
	position: relative;
	margin: 0 auto;
}

.classOptions{
	background-color: rgba(61,124,166, .2);
	border: solid 2px #FAFAFA;
	position: relative;
	float: left;
	height: 50px;
	width: 32.8%;
	text-align: center;
	vertical-align: middle;
	padding-top: 25px;
	font-size: 16pt;
	font-weight: bold;
	display: block;
}

/*///////////////////////////////////////
locations.html///////////////////////////
///////////////////////////////////////*/

#titleDiv{
	border: solid 0px purple;
	position: relative;
	left: 20px;
	top: 7px;
	width: 370px;
	float: left;
	
}

#optionsClass{
	height: 82px;
	width: 825px;
	border: solid 0px black;
	padding: 0px;
	color: #FAFAFA;
	position: relative;
	left: 50px;
	top: 18px;
	margin: 0 auto;
	z-index: 4;
	float: left;
}

.map{
	height: 395px;
	position: absolute;
	left: 156px;
	top: 177px;
	border: solid 0px grey;
}

#container{
	border: solid 0px orange;
	height: 850px;
}

.contentOptionsClass{
	background-color: rgba(61,124,166, .4);
	border: solid 2px #FAFAFA;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	position: relative;
	height: 50px;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	padding-top: 25px;
	font-size: 16pt;
	font-weight: bold;
	z-index: 4;
}

.Class11{
	position: relative;
	top: 0px;
	left: 7px;

}

.Class22{
	position: absolute;
	left: 181px;
	top: 0px;
}

.Class33{
	position: absolute;
	left: 355px;
	top: 0px;
}

.Class44{
	position: absolute;
	left: 529px;
	top: 0px;
}





